<ul id="na">
    <li>
        <a href="#">
            <div class="col">
                <div class="row">
                    <div class="col-3 ">
                        <img src="assets/img/p.png" />
                    </div>
                    <div class="col-8">
                        <div class="row">
                            <span><strong>Aplication</strong></span><br>
                            <span style="font-size: .8em; color: rgb(131, 131, 131);">Lorem ipsum dolor sit amet.</span>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <ul>
            <li><a href="#">Sub-Item 1 a</a></li>
            <li><a href="#">Sub-Item 1 b</a></li>
            <li><a href="#">Sub-Item 1 c</a></li>
        </ul>
    </li>
    <li>
        <a href="#">
            <div class="col">
                <div class="row">
                    <div class="col-3 ">
                        <img src="assets/img/p1.png" />
                    </div>
                    <div class="col-8">
                        <div class="row">
                            <span><strong>Aplication A</strong></span><br>
                            <span style="font-size: .8em; color: rgb(131, 131, 131);">Lorem ipsum dolor sit amet.</span>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <ul>
            <li><a href="#">Sub-Item 2 a</a></li>
            <li><a href="#">Sub-Item 2 b</a></li>
        </ul>
    </li>
    <li>
        <a href="#">
            <div class="col">
                <div class="row">
                    <div class="col-3 ">
                        <img src="assets/img/p2.png" />
                    </div>
                    <div class="col-8">
                        <div class="row">
                            <span><strong>Aplication B</strong></span><br>
                            <span style="font-size: .8em; color: rgb(131, 131, 131);">Lorem ipsum dolor sit amet.</span>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <ul>
            <li><a href="#">Sub-Item 3 a</a></li>
            <li><a href="#">Sub-Item 3 b</a></li>
            <li><a href="#">Sub-Item 3 c</a></li>
            <li><a href="#">Sub-Item 3 d</a></li>
        </ul>
    </li>
    <li>
        <a href="#">
            <div class="col">
                <div class="row">
                    <div class="col-3 ">
                        <img src="assets/img/p3.png" />
                    </div>
                    <div class="col-8">
                        <div class="row">
                            <span><strong>Aplication C</strong></span><br>
                            <span style="font-size: .8em; color: rgb(131, 131, 131);">Lorem ipsum dolor sit amet.</span>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <ul>
            <li><a href="#">Sub-Item 4 a</a></li>
            <li><a href="#">Sub-Item 4 b</a></li>
            <li><a href="#">Sub-Item 4 c</a></li>
        </ul>
    </li>
    <li>
        <a href="#">
            <div class="col">
                <div class="row">
                    <div class="col-3 ">
                        <img src="assets/img/p4.png" />
                    </div>
                    <div class="col-8">
                        <div class="row">
                            <span><strong>Aplication D</strong></span><br>
                            <span style="font-size: .8em; color: rgb(131, 131, 131);">Lorem ipsum dolor sit amet.</span>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <ul>
            <li><a href="#">Sub-Item 4 a</a></li>
            <li><a href="#">Sub-Item 4 b</a></li>
            <li><a href="#">Sub-Item 4 c</a></li>
        </ul>
    </li>
    <li>
        <a href="#">
            <div class="col">
                <div class="row">
                    <div class="col-3 ">
                        <img src="assets/img/p5.png" />
                    </div>
                    <div class="col-8">
                        <div class="row">
                            <span><strong>Aplication E</strong></span><br>
                            <span style="font-size: .8em; color: rgb(131, 131, 131);">Lorem ipsum dolor sit amet.</span>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <ul>
            <li><a href="#">Sub-Item 4 a</a></li>
            <li><a href="#">Sub-Item 4 b</a></li>
            <li><a href="#">Sub-Item 4 c</a></li>
        </ul>
    </li>




</ul>