<!-- Sidebar  -->
<div class="col spr">
    <nav id="sidebar">
        <div class="sidebar-header ml-3">
            <h6>Categories</h6>
        </div>
        <ul class="list-unstyled components">
            <li>
                <a href="#" class="active">All startpoints</a>
            </li>
            <li>
                <a href="#" class="">Banking</a>
            </li>
            <li>
                <a href="#" class="">Finance</a>
            </li>
            <li>
                <a href="#" class="">TFS</a>
            </li>
            <li>
                <a href="#" class="">Insurance</a>
            </li>
            <li>
                <a href="#" class="">Human resources</a>
            </li>
        </ul>
    </nav>
</div>
