<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">

            <h6>Category</h6>
        </div>

        <ul class="list-unstyled components">
            <li>
                <a href="#" class="active"><i class="fa-solid fa-list"></i>All startpoints</a>
            </li>
        </ul>
    </nav>

    <!-- Page Content  -->
    <div id="content">
        <!-- <button type="button" id="sidebarCollapse" class="btn btn-info">
            <i class="fas fa-align-left"></i>
            <span>Toggle Sidebar</span>
        </button> -->


        <app-main-container></app-main-container>

        <div class="line"></div>

    </div>
</div>