<div class="accordion-item">
    <h2 class="accordion-header" id="{{ item.name }}">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            {{ item.name }} <br>
            {{ item.description }}
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">

            <a href="#">{{item.url}}</a>
            <a href="#">Sub-Item 1 b</a>
            <a href="#">Sub-Item 1 c</a>

        </div>
    </div>
</div>