<ngb-accordion #acc="ngbAccordion">
    <ngb-panel>
        <ng-template ngbPanelHeader>
            <button ngbPanelToggle class="btn">
                <div class="col ">
                    <div class="row text-left">
                        <div class="col-3 flexi">
                            <img [src]="item.img" />
                        </div>
                        <div class="col-9">
                            <div class="row">
                                <span class="title"><strong>{{ item.name }}</strong></span><br>
                                <span  class="subtitle">{{ item.description }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </button>
        </ng-template>
        <ng-template ngbPanelContent>
            <div class="text-center card-bod bg-secondar">
                <a href="{{item.url}}"><i class="fas fa-file-pdf"></i> Open Flattened PDF</a><br>
                <a href="#"><i class="far fa-file-pdf"></i> Open Static Interactive PDF</a><br>
                <a href="#"><i class="fas fa-edit"></i> Try Open Dynamic Interactive PDF</a><br>
                <a href="#"><i class="fas fa-download"></i> Download Dynamic Interactive PDF</a>
            </div>
        </ng-template>
    </ngb-panel>
</ngb-accordion>