<ngb-accordion #acc="ngbAccordion">
    <ngb-panel>
        <ng-template ngbPanelHeader>
            <button ngbPanelToggle class="btn">
                <div class="col ">
                    <div class="row text-left">
                        <div class="col-3 flexi">
                            <img [src]="item.img" />
                        </div>
                        <div class="col-9">
                            <div class="row">
                                <span class="title"><strong>{{ item.name }}</strong></span><br>
                                <span  class="subtitle">{{ item.description }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </button>
        </ng-template>
        <ng-template ngbPanelContent>
            <div class="text-center card-bod bg-secondar">
                <ul class="ul-item">
                    <li *ngIf="item.url" (click)="getUrl(item.url)"><i class="fas fa-file-pdf"></i> Open Flattened PDF</li>
                    <li *ngIf="item.url1" (click)="getUrl(item.url1)"><i class="far fa-file-pdf"></i> Open Static Interactive PDF</li>
                    <li *ngIf="item.url2" (click)="getUrl(item.url2)"><i class="fas fa-edit"></i> Try Open Dynamic Interactive PDF</li>
                    <li class="anc" *ngIf="item.url3"><a *ngIf="item.url" href="{{item.url3}}" download><i class="fas fa-download"></i> Download Dynamic Interactive PDF</a></li>
                </ul>
            </div>
        </ng-template>
    </ngb-panel>
</ngb-accordion>