<div class="row">
    <div class="left-menu spr">
        <app-left-menu></app-left-menu>
    </div>
    <div class="lista">
        <app-list></app-list>
    </div>
    <div class="col spl spr ">
        <!-- <div class="content-a">
            <img src="assets/img/centerpoint_logo.png" />
        </div> -->
        <iframe src="https://docs.google.com/viewerng/viewer?url=http://infolab.stanford.edu/pub/papers/google.pdf&embedded=true" frameborder="0" height="100%" width="100%">
        </iframe>
    </div>
</div>